:root{
    --bg-black-cursor: #14120B;
    --accent-color: #EDECEC;
    --accent-font: 
    --border-color: 
}

@font-face {
    font-family: "CursorGothic";
    src: url(assets/fonts/CursorGothic_Regular-s.p.a361088d.woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--accent-color);
    background-color: var(--bg-black-cursor);
    font-family: "CursorGothic";
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header{
    padding: 0px 1.4vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-black-cursor);
    width: 100%;
    height: 52px;
}

nav img{
    cursor: pointer;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav a{
    color: var(--accent-color);
    text-decoration: none;
    padding: 5.6px 15px;
    font-size: 14px;
    font-family: "CursorGothic";
}

#nav-actions button {
    font-size: 14px;
    font-family: "CursorGothic";
    border-radius: 20px;
    padding: 2.8px 10.5px;
    cursor: pointer;
}

#signin {
    color: var(--accent-color);
    background-color: var(--bg-black-cursor);
    border: 2px solid #2b2923;
    margin-right: 6px;
}

.download {
    color: var(--bg-black-cursor);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

#intro {
    padding: 112px 20px;
}

#intro h1 {
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: -.0125rem;
    margin-bottom: 24px;
}

#main-download {
    cursor: pointer;
    font-family: "CursorGothic";
    font-size: 1rem;
    font-weight: 400;
    border-radius: 3.40282e38px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    display: inline-flex;
    padding: 12.48px 21.6px;
}

#main-download span {
    margin-left: 4px;
}

#intro-header{
    margin-bottom: 56px;
}

#intro-bg-1 {
    border-radius: 4px;
    width: 100%;
    height: 680px;
}

#logo-container h2 {
    text-align: center;
    font-family: "CursorGothic";
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .01em;
    margin-bottom: 22.4px;
}

#logo-garden {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    padding-bottom: 33.6px;
}

.logo {
    padding: 0px 7.5px;
    width: 144.75px;
    height: 100px;
    background-color: #1B1913;
    display: flex;
    justify-content: center;
    align-items: center;
}
